/*------------TOP EMPLOYERS SYTLES------------*/
body {
  font: 10px sans-serif;
  color: white
}

svg {
  padding: 10px 0 0 10px;
}

.arc {
  stroke: #fff;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 80px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: #FF8A65;
    fill-opacity: 0.70;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.chartTitle {
    fill: white;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}

.chartTitleAccent {
    fill: #FF5722;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}

.chartSubTitle {
    fill: white;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    fill-opacity: 0.70;
}

.chartSubLabel {
    fill: white;
    font-family: 'Roboto', sans-serif;
    font-size: 8px;
    fill-opacity: 0.70;
}

.chartBackground {
    background: #B0BEC5;
}

.chartBar {
    fill: #FF5722;
}

.chartBar:hover {
    fill: #BF360C;
}
/*-------MAP STYLES---------*/
.land{
    fill: #fff;
    stroke: #111;
}
.counties {
  fill: none;
  stroke: none;
}

.states {
  fill: none;
  stroke: #111;
  stroke-linejoin: round;
}

.q0-9 { fill:rgb(247,251,255); }
.q1-9 { fill:rgb(222,235,247); }
.q2-9 { fill:rgb(198,219,239); }
.q3-9 { fill:rgb(158,202,225); }
.q4-9 { fill:rgb(107,174,214); }
.q5-9 { fill:rgb(66,146,198); }
.q6-9 { fill:rgb(33,113,181); }
.q7-9 { fill:rgb(8,81,156); }
.q8-9 { fill:rgb(8,48,107); }
