/*------------TOP EMPLOYERS SYTLES------------*/
body {
  font: 10px sans-serif;
  color: white
}

svg {
  padding: 10px 0 0 10px;
}

.arc {
  stroke: #fff;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 80px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: #FF8A65;
    fill-opacity: 0.70;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.chartTitle {
    fill: white;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}

.chartTitleAccent {
    fill: #FF5722;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}

.chartSubTitle {
    fill: white;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    fill-opacity: 0.70;
}

.chartSubLabel {
    fill: white;
    font-family: 'Roboto', sans-serif;
    font-size: 8px;
    fill-opacity: 0.70;
}

.chartBackground {
    background: #e0e0e0;
}

.chartBar {
    fill: #FF5722;
}

.chartBar:hover {
    fill: #BF360C;
}

/*-------MAP STYLES---------*/
.land{
    fill: #fff;
    stroke: #111;
}
.counties {
  fill: none;
  stroke: none;
}

.states {
  fill: none;
  stroke: #111;
  stroke-linejoin: round;
}

.q0-9 { fill:rgb(247,251,255); }
.q1-9 { fill:rgb(222,235,247); }
.q2-9 { fill:rgb(198,219,239); }
.q3-9 { fill:rgb(158,202,225); }
.q4-9 { fill:rgb(107,174,214); }
.q5-9 { fill:rgb(66,146,198); }
.q6-9 { fill:rgb(33,113,181); }
.q7-9 { fill:rgb(8,81,156); }
.q8-9 { fill:rgb(8,48,107); }

/*--------EMPLOYER TREND STYLES--------*/
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

/*------------- Custom HTML CSS --------------*/
.page {
    width: 100%;
    /* prevents content from squishing on small screens */
    min-height: 500px;
    background-color: white
}
.nav {
    background: #f58625;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    text-align: center;
    font-size: 0
}
.nav i:before {
    color: white;
    font-size: 36px;
    cursor: pointer;
    display: inline-block
}
.nav i {
    margin: 10px 10px;
    display: inline-block
}
.nav a {
    color: white;
    display: inline-block;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 400;
    padding: 10px 10px;
    margin: 20px 10px;
    border-radius: 4px;
    letter-spacing: 0.07em;
    -webkit-transition: background-color 200ms ease;
    -moz-transition: background-color 200ms ease;
    -o-transition: background-color 200ms ease;
    transition: background-color 200ms ease
}
.nav a.active {
    background: white;
    color: #f58625
}
.nav a.active:hover {
    background: white;
    color: #f58625
}
.nav a:hover {
    background: #f4780d;
    color: white
}
#logo {
    max-width: 400px;
    margin: 0 auto;
    width: 90%;
    display: block
}
h1 {
    font-size: 72px;
    text-transform: uppercase;
    text-align: center
}
h2 {
    font-size: 36px;
    text-transform: uppercase
}
h3 {
    font-size: 24px;
    line-height: 1.7;
    color: #5D5D5D
}
h4 {
    font-size: 13px;
    text-transform: uppercase
}
p {
    font-size: 18px;
    line-height: 1.6
}
.orange {
    color: #f58625
}
.bg-image {
    width: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover
}
.orange-fill,
.blue-fill {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 100
}
.orange-fill {
    background: rgba(157, 77, 7, 0.6)
}
.blue-fill {
    background: rgba(52, 67, 83, 0.6)
}
.bg-image h1 {
    color: white;
    z-index: 100;
    position: absolute;
    margin: 0 auto;
    width: 100%;
    font-weight: 400
}
.mobile,
i {
    display: none
}
#hamburger-menu {
    display: none
}
#mobile-nav{
    display: none
}
@media (max-width: 1000px) {
    #hamburger-menu {
        display: inline-block
    }
    h1 {
        font-size: 56px
    }
    h2 {
        font-size: 36px
    }
    h3 {
        font-size: 18px
    }
    .nav .desktop {
        display: none
    }
    .nav {
        text-align: left
    }
    .nav a{
        display: inherit
    }
    .mobile {
        display: inherit
    }
    #mobile-nav {
        display: none
    }
    #mobile-nav a {
        margin: 0 10px;
        margin-bottom: 10px
    }
    .mob-nav-header {
        display: inline-block
    }
}
@media (max-height: 700px) {
    #logo {
        max-width: 200px
    }
}